<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="All" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="WpfApplicationPatcher.log" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Offset}%level %date [%thread] %type{1}: %message%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="FATAL" />
				<forecolor value="Red" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<forecolor value="Red" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<forecolor value="Yellow" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<forecolor value="Green" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<forecolor value="Cyan" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Offset}%level %date [%thread] %type{1}: %message%newline" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>